@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
}

@layer utilities {
	.background-dark {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./assets/dark-bg-home.svg);
	}
	.background-light {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./assets/light-bg-home.svg);
	}
	.max-width {
		max-width: 75rem;
		margin-inline: auto;
		padding-inline: 0.625rem;
	}
	.max-width2 {
		max-width: 87.5rem;
		margin-inline: auto;
		padding-inline: 0.625rem;
	}
	.before {
		position: relative;
	}
	.filter {
		background-color: rgba(255, 255, 255, 0.075);
		backdrop-filter: blur(3px);
	}
	.filter2 {
		background-color: rgba(0, 0, 0, 0.281);
		backdrop-filter: blur(3px);
	}
	.before::before {
		content: "";
		position: absolute;
		bottom: -0.3125em;
		left: 0;
		width: 0;
		height: 3px;
		background-color: orange;
		transition: all 0.3s ease;
	}
	.before:hover::before {
		width: 80%;
	}
	.round-image {
		width: 33.25rem;
		height: 33.25rem;
		border-radius: 100%;
	}
	.round-image2 {
		width: 50.25rem;
		height: 50.25rem;
		border-radius: 100%;
	}
	.round-image-md {
		width: 25.25rem;
		height: 25.25rem;
		border-radius: 100%;
	}

	.round-image-sm {
		width: 18.25rem;
		height: 18.25rem;
		border-radius: 100%;
	}
	.gradient {
		background: linear-gradient(
			255.35deg,
			rgba(20, 19, 40, 0) 9.21%,
			rgba(20, 19, 40, 0.74) 51.7%
		);
	}

	.intro {
		position: absolute;
		bottom: 4rem;
		left: 0.625rem;
		max-width: 25rem;

		border-radius: 0.625rem;
	}
	.move-down {
		bottom: 15rem;
	}
	.move-down2 {
		bottom: 7rem;
	}
	.move-down2 {
		bottom: 15rem;
	}

	.section-bg {
		position: relative;
		z-index: 4;
	}
	.section-bg::before {
		content: "ABOUT ME";
		position: absolute;
		top: -0rem;
		left: -3.25rem;
		font-size: 7.5rem;
		font-weight: 700;
		letter-spacing: -0.02em;
		transform: rotate(-0.81deg);
		color: transparent;
		line-height: 1;
		-webkit-text-stroke: 1px #3d367a6c;
	}

	.why-hire::before {
		content: "WHY HIRE ME";
		position: relative;
		top: 0;
		left: -2.25rem;
		font-size: 8rem;
		font-weight: 700;
		letter-spacing: -0.02em;
		transform: rotate(-0.81deg);
		color: transparent;
		line-height: 1;
		-webkit-text-stroke: 1px #3d367a6c;
	}
	.tech::before {
		content: "MY TECH STACK";
		position: absolute;
		top: -0rem;
		left: 1.25rem;
		font-size: 8rem;
		font-weight: 700;
		letter-spacing: -0.02em;
		transform: rotate(2.81deg);
		color: transparent;
		line-height: 1;
		-webkit-text-stroke: 1px #3d367a1f;
	}
	.project::before {
		content: "MY PROJECTS";
		position: absolute;
		top: -7rem;
		left: -1rem;
		font-size: 10rem;
		font-weight: 700;
		letter-spacing: -0.02em;
		transform: rotate(-2.81deg);
		color: transparent;
		line-height: 1;
		-webkit-text-stroke: 1px #3d367a1e;
	}

	@media (min-width: 46.875em) {
		.section-bg::before {
			font-size: 10rem;
		}
	}
	@media (min-width: 53.125em) {
		.section-bg::before {
			font-size: 11.25rem;
		}
	}

	.overlay-dark {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(18, 17, 41, 0.82), rgba(18, 17, 41, 0.82)),
			url("./assets/about.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.overlay-light {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgb(25, 21, 42), rgba(25, 21, 42, 0.54)),
			url("./assets/about.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.opa-bg {
		background-color: #121129e7;
	}
	.opa-bg-2 {
		background-color: #ffffff15;
		mix-blend-mode: difference;
	}
	.my-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
		gap: 1.25em;
	}
	.my-grid2 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
		align-items: flex-start;
		gap: 1em;
	}
	.my-grid2 a,
	.my-grid2 a img {
		width: 100%;
		display: block;
		height: auto;
	}
	.my-shadow {
		box-shadow: 1rem 1rem 1rem -0.3rem rgba(120, 121, 201, 0.096);
	}

	.my-shadow-hover2 {
		box-shadow: 1rem 1rem 1rem -0.2rem rgba(0, 0, 0, 0.055);
	}
	.my-shadow-hover {
		box-shadow: 1rem 1rem 1rem -0.2rem rgba(0, 0, 0, 0.164);
	}
}
