@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
}

@layer utilities {
	.background-dark {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./assets/dark-bg-home.svg);
	}
	.background-light {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(./assets/light-bg-home.svg);
	}
	.max-width {
		max-width: 1200px;
		margin-inline: auto;
		padding-inline: 0.625rem;
	}
	.before {
		position: relative;
	}
	.filter {
		background-color: rgba(255, 255, 255, 0.075);
		backdrop-filter: blur(3px);
	}
	.before::before {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 0;
		height: 3px;
		background-color: orange;
		transition: all 0.3s ease;
	}
	.before:hover::before {
		width: 80%;
	}
	.round-image {
		width: 33.25rem;
		height: 33.25rem;
		border-radius: 100%;
	}
	.round-image2 {
		width: 50.25rem;
		height: 50.25rem;
		border-radius: 100%;
	}
	.round-image-md {
		width: 25.25rem;
		height: 25.25rem;
		border-radius: 100%;
	}

	.round-image-sm {
		width: 18.25rem;
		height: 18.25rem;
		border-radius: 100%;
	}
	.gradient {
		background: linear-gradient(
			255.35deg,
			rgba(20, 19, 40, 0) 9.21%,
			rgba(20, 19, 40, 0.74) 51.7%
		);
	}

	.intro {
		position: absolute;
		bottom: 4rem;
		left: 0.625rem;
		max-width: 25rem;

		border-radius: 10px;
	}
	.move-down {
		bottom: 15rem;
	}
	.move-down2 {
		bottom: 7rem;
	}
	.move-down2 {
		bottom: 15rem;
	}

	.section-bg {
		position: relative;
		z-index: 4;
	}
	.section-bg::before {
		content: "ABOUT ME";
		position: absolute;
		top: -0rem;
		left: -3.25rem;
		font-size: 120px;
		font-weight: 700;
		letter-spacing: -0.02em;
		transform: rotate(-0.81deg);
		color: transparent;
		line-height: 1;
		-webkit-text-stroke: 1px #3d367a6c;
	}

	@media (min-width: 750px) {
		.section-bg::before {
			font-size: 160px;
		}
	}
	@media (min-width: 850px) {
		.section-bg::before {
			font-size: 180px;
		}
	}

	.overlay-dark {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(18, 17, 41, 0.82), rgba(18, 17, 41, 0.82)),
			url("./assets/about.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.overlay-light {
		width: 100%;
		height: 100%;
		background: linear-gradient(rgb(25, 21, 42), rgba(25, 21, 42, 0.54)),
			url("./assets/about.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.opa-bg {
		background-color: #121129e7;
	}
	.opa-bg-2 {
		/* background-color: #121129c4; */
		background-color: #ffffff15;
		mix-blend-mode: difference;
	}
}
